<div class="footer">
    <div class="pull-right">
        Portal Web todos los derechos reservados.
    </div>
    <div>
        <strong>Copyright</strong> Transcontinental Capital Corporation &copy; 2016 - @DateTime.Now.Year
    </div>
</div>
