
@{
    Layout = "~/Views/Shared/_BillingLayout.cshtml";
    ViewBag.Title = "Inicio";
}

<style>
    .iframe-container {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
    }

        .iframe-container iframe {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

    .iframe-container-4x3 {
        padding-top: 75%;
    }
</style>

<div class="wrapper wrapper-content">
    <div class="iframe-container">
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiNmM0ZmU0MGQtOWRhMC00MzJkLThlMmYtMWQyNGI4ZDRkYjg3IiwidCI6IjFmMjNkMzhmLWRmYmUtNDg0Yy04MDFhLWNmZjg5Mjg4YzlhYiIsImMiOjF9" allowFullScreen></iframe>
    </div>
</div>